.formControl {
  color: rgba(255, 255, 255, 0.6);
}

.label {
  color: rgba(255, 255, 255, 0.6) !important;
}

.item {
  color: #0066ff !important;
  transition: color .3s ease-in-out;

  &:hover {
    color: #0000ff !important;
  }
}

.select {
  color: rgba(255, 255, 255, 0.6) !important;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  transition: border .3s ease-in-out;

  &:hover {
    border: 1px solid #0066ff;
  }

  svg {
    color: rgba(255, 255, 255, 0.6);
  }
}

@media(max-width: 490px) {
  .formControl {
    justify-self: center;
  }
}

